<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageName }}</title>
  <link rel="stylesheet" media="all" href="css/main.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');
  </script>
  <!--[if lt IE 9]>
    <script src="js/lt-ie9.min.js"></script>
  <![endif]-->
</head>


<body>

  <nav class="accessibility-nav">
    <ol>
      <li><a href="#navigation">Skip to navigation</a></li>
      <li><a href="#content">Skip to content</a></li>
    </ol>
  </nav>
  <!-- / accessibility-nav -->

  <div class="container top">
    <header class="header">
      <a href="index.html" rel="index" title="Go to homepage">HTM Logger</a>
    </header>
    <!-- / header -->

    <nav class="navigation" id="navigation">
      <ul class="navigation-list">
        <li>
          <iframe src="navigation-goto.html" seamless class="navigation-iframe"></iframe>
        </li>
        <li><a href="configuration.html">Configuration</a></li>
        <li><a href="legend.html">Legend</a></li>
      </ul>
    </nav>
    <!-- / navigation -->
  </div>
  <!-- / container -->


  <article class="container">
    <aside class="sidebar">
      <nav class="toc">
        <h6 class="hide">Table of contents</h6>
        <ol class="toc-list">
          <li><a href="#input">Input</a></li>
          {{#each layers}}
          <li><a href="#l-{{ layer_index }}">Layer {{ layer_index }}</a></li>
          {{/each}}
          <li><a href="#output">Output</a></li>
        </ol>
      </nav>

      <section class="actions">
        <h6 class="hide">Actions</h6>
        <ul class="actions-list">
          <li>
            <button type="button" class="btn" data-toggle="accordion-collapse">Collapse all panels</button>
          </li>
        </ul>
      </section>
    </aside>


    <div class="content" id="content">
      <h1>Iteration {{ iteration_index }} <small>{{#if iteration_index }}<a href="iteration-{{ prev_iteration_index }}.html">&laquo; Previous</a>{{/if}} {{#if next_iteration_index }}<a href="iteration-{{ next_iteration_index }}.html">Next &raquo;</a>{{/if}}</small></h1>

      <section id="input">
        <h2>Input</h2>
        <pre><samp><kbd>{{ input_item }}</kbd></samp></pre>
      </section>

      {{#each layers}}
      <section id="l-{{ layer_index }}">
        <h2>Layer {{ layer_index }}</h2>

        <figure class="visualisation">
          <div class="visualisation-table">
            <table>
              <thead>
                <tr>
                  {{#each columns}}
                  <th>{{#if is_active}}<strong>[&nbsp;{{/if}}{{ column_index }}{{#if is_active}}&nbsp;]</strong>{{/if}}</th>
                  {{/each}}
                </tr>
              </thead>
              <tfoot>
                <tr>
                  {{#each columns}}
                  <th>{{#if is_active}}<strong>[&nbsp;{{/if}}{{ column_index }}{{#if is_active}}&nbsp;]</strong>{{/if}}</th>
                  {{/each}}
                </tr>
              </tfoot>
              <tbody>
                {{#each columns_transposed }}
                <tr>
                  {{#each cells}}
                  <td>
                    {{#if is_active}}<strong>{{/if}}
                  {{#if is_learning}}L{{#unless is_active}}{{#unless is_predictive}}(&nbsp;{{/unless}}{{/unless}}{{/if}}{{#if is_active}}[&nbsp;{{/if}}{{#if is_predictive}}&lbrace;&nbsp;{{/if}}<a href="#i-{{ ../../../iteration_index }}-l-{{ ../../layer_index }}-c-{{ column_index }}-{{ cell_index }}">{{ column_index }}&#8209;{{ cell_index }}</a>{{#if is_predictive}}&nbsp;&rbrace;{{/if}}{{#if is_active}}&nbsp;]{{/if}}{{#if is_learning}}{{#unless is_active}}{{#unless is_predictive}}&nbsp;){{/unless}}{{/unless}}{{/if}}
                  {{#if is_active}}</strong>{{/if}}
                  </td>
                  {{/each}}
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <figcaption class="visualisation-caption">Layer {{ layer_index }} Structure. <a href="legend.html#layer">See legend</a></figcaption>
        </figure>

        <section class="accordion">
          <h3 class="accordion-handle">Layer State</h3>
          <div class="accordion-content">
            <ul class="accordion-list">
              <li><strong>learning enabled:</strong> {{ is_learning_enabled }}</li>
            </ul>
            <ul class="accordion-list">
              <li><strong>total columns:</strong> {{ total_columns_count }}</li>
              <li><strong>active columns:</strong> {{ active_columns_count }} ({{ active_columns_percent }}%)</li>
            </ul>
            <ul class="accordion-list">
              <li><strong>SP inhibition radius:</strong> {{ sp.inhibition_radius }}</li>
            </ul>
          </div>
        </section>

        <section class="accordion">
          <h3 class="accordion-handle">Columns' Details</h3>
          <div class="accordion-content">
            {{#each columns}}
            <section class="accordion">
              <h4 id="i-{{ ../../iteration_index }}-l-{{ ../layer_index }}-c-{{ column_index }}" class="accordion-handle">Column {{#if is_active}}<strong>[&nbsp;{{/if}}{{ column_index }}{{#if is_active}}&nbsp;]</strong>{{/if}}</h4>
              <div class="accordion-content">
                <figure class="visualisation">
                  <div class="visualisation-table">
                    <table>
                      <thead>
                        <tr>
                          {{#each connector.synapses}}
                          <th>{{ input_value }}&nbsp;@&nbsp;{{ input_index }}</th>
                          {{/each}}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {{#each connector.synapses}}
                          <td>{{#if is_active }}<strong>[&nbsp;{{/if}}{{#if is_connected}}&lt;&nbsp;{{/if}}{{ perm_value }}{{#if is_connected}}&nbsp;&gt;{{/if}}{{#if is_active }}&nbsp;]</strong>{{/if}}</td>
                          {{/each}}
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <figcaption class="visualisation-caption">Column {{ column_index }} Connector Synapses. <a href="legend.html#column">See legend</a></figcaption>
                </figure>

                <section class="accordion">
                  <h5 class="accordion-handle">Column State</h5>
                  <div class="accordion-content">
                    <ul class="accordion-list">
                      <li><strong>active:</strong> {{ is_active }}</li>
                      <li><strong>overlap:</strong> {{ connector.overlap }}</li>

                      <li><strong>min duty cycle:</strong> {{ connector.min_duty_cycle }}</li>
                      <li><strong>max duty cycle:</strong> {{ connector.max_duty_cycle }}</li>
                      <li><strong>overlap duty cycle:</strong> {{ connector.overlap_duty_cycle }}</li>
                      <li>
                        <strong>overlap duty history:</strong>
                        <pre><samp>{{ connector.overlap_duty_history }}</samp></pre>
                      </li>
                      <li><strong>active duty cycle:</strong> {{ connector.active_duty_cycle }}</li>
                      <li>
                        <strong>active duty history:</strong>
                        <pre><samp>{{ connector.active_duty_history }}</samp></pre>
                      </li>
                    </ul>
                  </div>
                </section>
                <section class="accordion">
                  <h5 class="accordion-handle">Cells' Details</h5>
                  <div class="accordion-content">
                    {{#each cells}}
                    <section class="accordion">
                      <h6 id="i-{{ ../../../iteration_index }}-l-{{ ../../layer_index }}-c-{{ column_index }}-{{ cell_index }}" class="accordion-handle">Cell
                      {{#if is_active}}<strong>{{/if}}
                      {{#if is_learning}}L{{#unless is_active}}{{#unless is_predictive}}(&nbsp;{{/unless}}{{/unless}}{{/if}}{{#if is_active}}[&nbsp;{{/if}}{{#if is_predictive}}&lbrace;&nbsp;{{/if}}{{ column_index }}&#8209;{{ cell_index }}{{#if is_predictive}}&nbsp;&rbrace;{{/if}}{{#if is_active}}&nbsp;]{{/if}}{{#if is_learning}}{{#unless is_active}}{{#unless is_predictive}}&nbsp;){{/unless}}{{/unless}}{{/if}}
                      {{#if is_active}}</strong>{{/if}}
                    </h6>
                      <div class="accordion-content">
                        {{#if segments_count}}
                        <figure class="visualisation">
                          <div class="visualisation-table">
                            <table>
                              <thead>
                                <tr>
                                  {{#each segments}}
                                  <th>
                                    {{#if is_active}}<strong>[{{/if}}
                                  {{ segment_index }}
                                  {{#unless is_active}}<strong>{{/unless}}
                                  {{#if is_sequential}}!{{/if}}
                                  {{#if is_learning}}L{{/if}}
                                  {{#if is_active}}]</strong>{{/if}} {{#unless is_active}}</strong>{{/unless}}
                                  </th>
                                  {{/each}}
                                </tr>
                              </thead>
                              <tfoot>
                                <tr>
                                  {{#each segments}}
                                  <th>
                                    {{#if is_active}}<strong>[{{/if}}
                                  {{ segment_index }}
                                  {{#unless is_active}}<strong>{{/unless}}
                                  {{#if is_sequential}}!{{/if}}
                                  {{#if is_learning}}L{{/if}}
                                  {{#if is_active}}]</strong>{{/if}} {{#unless is_active}}</strong>{{/unless}}
                                  </th>
                                  {{/each}}
                                </tr>
                              </tfoot>
                              <tbody>
                                {{#each segments_transposed }}
                                <tr>
                                  {{#each synapses}}
                                  <td>
                                    {{#if is_active}}<strong>{{/if}}
                                  {{#if is_learning}}L{{#unless is_active}}{{#unless is_connected}}(&nbsp;{{/unless}}{{/unless}}{{/if}}{{#if is_active}}[&nbsp;{{/if}}{{#if is_connected}}&lt;&nbsp;{{/if}}<a href="#i-{{ ../../../../../iteration_index }}-l-{{ ../../../../layer_index }}-c-{{ column_index }}-{{ cell_index }}-s-{{ segment_index }}-{{ synapse_index }}">{{ perm_value }}&nbsp;@&nbsp;{{ column_index }}&#8209;{{ cell_index }}</a>{{#if is_connected}}&nbsp;&gt;{{/if}}{{#if is_active}}&nbsp;]{{/if}}{{#if is_learning}}{{#unless is_active}}{{#unless is_connected}}&nbsp;){{/unless}}{{/unless}}{{/if}}
                                  {{#if is_active}}</strong>{{/if}}
                                  </td>
                                  {{/each}}
                                </tr>
                                {{/each}}
                              </tbody>
                            </table>
                          </div>
                          <figcaption class="visualisation-caption">Cell {{ column_index }}&#8209;{{ cell_index }} Structure. <a href="legend.html#cell">See legend</a></figcaption>
                        </figure>
                        {{/if}}
                        <details class="details">
                          <summary class="details-handle">Cell State</summary>
                          <div class="details-content">
                            <ul class="details-list">
                              <li><strong>active:</strong> {{ is_active }}</li>
                              <li><strong>predictive:</strong> {{ is_predictive }}</li>
                              <li><strong>learning:</strong> {{ is_learning }}</li>
                          </div>
                        </details>
                        {{#if segments_count}}
                        <details class="details">
                          <summary class="details-handle">Segments' Details</summary>
                          <div class="details-content">
                            <ol class="details-list">
                              {{#each segments}}
                              <li>
                                <details class="details">
                                  <summary class="details-handle">Segment {{ segment_index }}</summary>
                                  <div class="details-content">
                                    <ul class="details-list">
                                      <li><strong>sequential:</strong> {{ is_sequential }}</li>
                                      <li><strong>active:</strong> {{ is_active }} (synapses connected to active cells: <strong>{{ active_synapses_count }}</strong>)</li>
                                      <li><strong>learning:</strong> {{ is_learning }} (synapses connected to learning cells: <strong>{{ learning_synapses_count }}</strong>)</li>
                                    </ul>
                                    {{#if synapses_count}}
                                    <ol class="details-list">
                                      {{#each synapses}}
                                      <li>
                                        <details class="details">
                                          <summary id="i-{{ ../../../../../iteration_index }}-l-{{ ../../../../layer_index }}-c-{{ column_index }}-{{ cell_index }}-s-{{ segment_index }}-{{ synapse_index }}" class="details-handle">Synapse {{ segment_index }}&#8209;{{ synapse_index }}</summary>
                                          <div class="details-content">
                                            <ul class="details-list">
                                              <li><strong>connected:</strong> {{ is_connected }}</li>
                                              <li><strong>active:</strong> {{ is_active }}</li>
                                              <li><strong>learning:</strong> {{ is_learning }}</li>
                                              <li><strong>perm_value:</strong> {{ perm_value }}</li>
                                              <li><strong>attached to:</strong> <a href="#i-{{ ../../../../../iteration_index }}-l-{{ ../../../../layer_index }}-c-{{ column_index }}-{{ cell_index }}">Cell {{ column_index }}&#8209;{{ cell_index }}</a></li>
                                            </ul>
                                          </div>
                                        </details>
                                      </li>
                                      {{/each}}
                                    </ol>
                                    {{/if}}
                                  </div>
                                </details>
                              </li>
                              {{/each}}
                            </ol>
                          </div>
                        </details>
                        {{/if}}
                      </div>
                    </section>
                    {{/each}}
                  </div>
                </section>
              </div>
            </section>
            {{/each}}
          </div>
        </section>
      </section>
      {{/each}}

      <section id="output">
        <h2>Output</h2>
        <pre><samp><kbd>{{ output_item }}</kbd></samp></pre>
      </section>
    </div>
    <!-- / content -->
  </article>
  <!-- / container -->

  <footer class="footer">

  </footer>
  <!-- / footer -->

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')
  </script>

  <script src="js/main.js"></script>


</body>

</html>